{% extends 'layout.html' %}

{% block content %}
    {% for content in contents %}
    <article>
        <a class="title" href="/view?contentid={{content.id}}">{{ content.title }}</a>
        <div class="sketch">
            <div class="riqi">
              {{ content.addTime|date('Y/m/d') }}
            </div>
            <div class="read">
              阅读：{{content.views}}
            </div>
            <div class="comment">
              评论：{{content.comments.length}}
            </div>
        </div>
        <div class="content" id="mycon">
          <div name="content" style="display:none">{{ content.description }} </div>
          <div class="contentp" name="contentp"></div>
          <a href="/view?contentid={{content.id}}" class="readAll">继续阅读 >></a>
        </div>
    </article>

    {% endfor %}
    <!--分页-->
    <div class="page">

        {% if page>1 %}
        <span class="dib fl"><a href="/?category={{category}}&page={{page-1}}"><<上一页</a></span>
        {% endif %}

        {% if pages>0 %}

        <span class="dib cet">{{ page }} / {{ pages }}</span>
        {% endif %}



        {% if page<pages %}
        <span class="dib fr"><a href="/?category={{category}}&page={{page+1}}">下一页>></a></span>
        {% endif %}
    </div>
    <script type="text/javascript">
          var pArr = document.getElementsByName('content');
          var ppArr = document.getElementsByName('contentp');
          var converter = new showdown.Converter();
          for (var i = 0; i < pArr.length; i++) {
            var text = pArr[i].innerHTML;
            var html = converter.makeHtml(text);
            ppArr[i].innerHTML = html;
          }

    </script>
{% endblock%}
