<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if content.title %}
    <title>{{ content.title }} | Younger 的小站</title>
    {% else %}
    <title>Younger 的小站</title>
    {% endif %}
    <link rel="stylesheet" href="./public/css/normalize.css">
    <link rel="stylesheet" href="./public/css/bootstrap.min.css">
    <link rel="stylesheet" href="./public/css/main.css">
    <link href="/public/images/springmoon.ico" rel="shortcut icon">
    <script src="./public/js/jquery.min.js"></script>
    <script src="./public/js/bootstrap.min.js"></script>
    <script src="./public/js/blog.js"></script>
    <script src="/public/showdown/dist/showdown.min.js"></script>
</head>
<body>

<div class="bodybox">
    <div class="row">
      <div class="col-md-2 my_nav">
        <div class="header_img">
            <img src="/public/images/springmoon.png" alt="">
        </div>
        <div class="header_name">
          <a href="#">Younger</a>
        </div>
        <div class="header_desc">
          前端开发初学者
        </div>
        <div class="nav">
            <!-- <ul>
                {% if category =='' %}
                <li class="select"><a href="/">首页</a></li>
                {% else %}
                <li><a href="/">首页</a></li>
                {% endif %}
                {% for cate in categories %}
                    {% if category ==cate.id %}
                        <li class="select"><a href="/?category={{ cate.id }}">{{cate.name}}</a></li>
                    {% else %}
                        <li><a href="/?category={{ cate.id }}">{{cate.name}}</a></li>
                    {% endif%}
                {% endfor %}
            </ul> -->
            <ul>
              <li class="select"><a href="/">首页</a></li>
              <li><a href="/">专题</a></li>
              <li><a href="/">归档</a></li>
              <li><a href="/">友链</a></li>
              <li><a href="/">关于</a></li>
            </ul>
        </div>
        <a href="/" class="icon1 icon2"><img src="/public/images/github.png" alt=""></a>
        <a href="/" class="icon1"><img src="/public/images/rss.png" alt=""></a>
        <a href="/" class="icon1"><img src="/public/images/search.png" alt=""></a>
        <!-- <div class="right">

            {% if userInfo._id %}
            <div class="info userInfo">
                <div class="borderBottom">
                    <h3>用户信息</h3>
                </div>
                <p><span class="username">{{ userInfo.username }}</span></p>

                {% if userInfo.isAdmin %}
                    <p><span class="info colwarning">你好，管理员 <a href="/admin" class="enterAdmin">进入管理中心</a></span></p>
                {% else %}
                    <p><span class="info colwarning">你好，欢迎光临我的博客</span></p>
                {% endif %}


                <p><span><a href="javascript:" class="logout">退出</a></span></p>
            </div>

            {% else %}

            <div class="info login row">
                <div class="form-group">
                    <div>
                        <input type="text" class="form-control" id="userNameLog" placeholder="Name">
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        <input type="password" class="form-control" id="passwordLog" placeholder="Password">
                    </div>
                </div>
                <div class="col-sm-10 loginToggle">
                    <p>还没账号 <a href="javascript:void(0)">点击注册</a></p>
                </div>
                <div class="form-group">
                    <div class="col-sm-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Remember me
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-default btn-success">登 录</button>
                    </div>
                </div>
                <div class="col-sm-12">
                    <p class="colwarning"></p>
                </div>
            </div>
            <div class="info register row"  style="display:none;">
                <div class="borderBottom">
                    <h3>新注册</h3>
                </div>
                <div>
                    <div class="form-group">
                        <label for="userNameReg" class="control-label">Name</label>
                        <div>
                            <input type="text" name="username" class="form-control" id="userNameReg" placeholder="Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPasswordReg" class="control-label">Password</label>
                        <div>
                            <input type="password" class="form-control" id="inputPasswordReg" placeholder="Password">
                        </div>
                        <label for="AgainPasswordReg" class="control-label"></label>
                        <div>
                            <input type="password" class="form-control" id="AgainPasswordReg" placeholder="AgainPassword">
                        </div>
                    </div>
                    <div class="col-sm-10 registerToggle">
                        <p>已有账号 <a href="javascript:void(0)">点击登录</a></p>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-default btn-success">注册新账户</button>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <p class="colwarning"></p>
                    </div>
                </div>
            </div>

            {% endif %}
        </div> -->
      </div>
      <div class="col-md-7 my_content">
          {% block content %}

          {% endblock %}
          <p class="infomation">© 2017 - Younger 的小站</p>
      </div>
    </div>
</div>
<!-- <footer class="container-fluid">

</footer> -->

</body>
</html>
