<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    {% if content.title %}
    <title>{{ content.title }} | Younger 的小站</title>
    {% else %}
    <title>Younger 的小站</title>
    {% endif %}
    <link rel="stylesheet" href="./public/css/normalize.css">
    <link rel="stylesheet" href="./public/css/bootstrap.min.css">
    <link rel="stylesheet" href="./public/css/main.css">
    <link href="/public/images/springmoon.ico" rel="shortcut icon">
    <script src="./public/js/jquery.min.js"></script>
    <script src="./public/js/bootstrap.min.js"></script>
    <script src="./public/js/blog.js"></script>
    <script src="/public/showdown/dist/showdown.min.js"></script>
</head>
<body>

<div class="bodybox">
    <div class="">
      <div class="my_nav">
        <div class="header_img">
            <img src="/public/images/springmoon.png" alt="">
        </div>
        <div class="header_name">
          <a href="#">江左梅郎</a>
        </div>
        <div class="header_desc">
          不积跬步，无以至千里
        </div>
        <div class="nav">
            <ul>
              <li class="select"><a href="/">首页</a></li>
              <li><a href="/">专题</a></li>
              <li><a href="/">归档</a></li>
              <li><a href="/">友链</a></li>
              <li><a href="/">关于</a></li>
            </ul>
        </div>
        <a href="https://github.com/YangChunliang" class="icon1 icon2"><img src="/public/images/github.png" alt=""></a>
        <a href="/" class="icon1"><img src="/public/images/rss.png" alt=""></a>
        <a href="/" class="icon1"><img src="/public/images/search.png" alt=""></a>
      </div>
      <div class="my_content">
          {% block content %}

          {% endblock %}
          <p class="infomation">© 2017 - Younger 的小站</p>

      </div>
    </div>
</div>
<!-- <div class="my_right" style="display:none;">
    <div class="info login row">
            <div>
                昵称：<input type="text" class="form-control form-name" id="userNameLog" placeholder="Name">
                <input style="display:none" type="text" name="" value="">
            </div>

            <div>
                密码：<input type="password" class="form-control form-pass" id="passwordLog" placeholder="Password">
            </div>

        <div class="loginToggle">
            <p class="dian_register">还没账号 <a href="javascript:void(0)">点击注册</a></p>
        </div>
        <div class="form-group">
                <button type="submit" class="btn mybtn">登 录</button>
        </div>
        <div class="col-sm-12">
            <p class="colwarning"></p>
        </div>
    </div>
    <div class="info register row" style="display:none;">
        <div>

                <div>
                    你的昵称：<input type="text" name="username" class="form-control form-name2" id="userNameReg" placeholder="Name">
                </div>

                <div>
                    你的密码：<input type="password" class="form-control form-pass2" id="inputPasswordReg" placeholder="Password">
                </div>
                <div>
                    重复密码：<input type="password" class="form-control form-pass2" id="AgainPasswordReg" placeholder="AgainPassword">
                </div>

            <div class="registerToggle">
                <p class="dian_login">已有账号 <a href="javascript:void(0)">点击登录</a></p>
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <button type="submit" class="btn zhuce_btn">注册新账户</button>
                </div>
            </div>
            <div class="col-sm-12">
                <p class="colwarning colwarning2"></p>
            </div>
        </div>
    </div>
</div> -->
<!-- <footer class="container-fluid">

</footer> -->

</body>
</html>
